# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Downloads\1._laboratorijska_vjezba__pocetni_kod\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
